<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>

<body>
    <header>
        <h1>Cupcakes</h1>
    </header>
    
    <input id="flavor-search" placeholder="Search by Flavor">
    <div id="cupcakes-list">

    </div>
    <h2>Add a Cupcake</h2>
    <form id="new-cupcake-form">
        {{ form.hidden_tag() }}
        <!--add type=hidden form fields -->
    
        {% for field in form if field.widget.input_type != 'hidden' %}
    
        <div class="form-group">
            {{ field.label }} {{ field(class_="form-control") }} {% for error in field.errors %} <small class="text-danger">{{ error }}</small> {% endfor %}
        </div>
    
        {% endfor %}
    
        <button type="submit">Submit</button>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/app.js"></script>
</body>

</html>